/*-----------------HTML AND BODY TAGS------------------------------------------------------*/
* {
  box-sizing: border-box;
}

html{
	position:relative;
	min-height:100%;
}


body{
   
    font-family:'Nunito', sans-serif;
	margin-bottom: 50px;
	margin:0;
	
}

h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    text-transform:uppercase;
    font-size:32px;
    margin-top: 20px;
   
}

h2 {
    margin-bottom: 20px;
}


ul {
	list-style:none;
	padding:0;
	margin:0;
	
}
	

li > li {
list-style-type:none;
margin-left:10px;
}



/*----------------IDs---------------------------*/



	


#main-content {
	
	height:80vh;
}


#piperGisFrame {
	
	height:175px;
	width:175px;
	background-image: url('/hushpuppystatic/images/pipergisweblogo.png');
	background-size: cover;
}

#piperGisToggle{
	
	height:175px;
	width:175px;
	background-image: url('/hushpuppystatic/images/pipergismouseover.png');
	display:none;
	background-size: cover;
}

#dailyGreenFrame {
	
	height:175px;
	width:175px;
	background-image: url('/hushpuppystatic/images/dailygreenweblogo.png');
	background-size: cover;
}

#dailyGreenToggle{
	
	height:175px;
	width:175px;
	background-image: url('/hushpuppystatic/images/dailygreenmouseover.png');
	display:none;
	background-size: cover;
}

#menu-categories-title {
	font-weight:800;
	margin-top:10px;
	font-style:italic;
	
}



/*---------------------------Major Classes----------------------------------------*/

.container {
	padding-left: 5px;
	padding-right: 5px;
	
}

.landing-block-title {
	
align-items: center;
text-align:center;
font-style:italic;

	text-decoration:none;
	font-size:40px;
	font-weight:800;
	padding-left:auto;
	padding-right:auto;
	position:absolute;
	top:40%;
	width:100%;
}

.landing-title-text {
	padding-left:auto;
	padding-right:auto;
}

.title-text {
	font-weight:800;
	padding-left:auto;
	padding-right:auto;
	text-align:center;
	font-style:italic;
	color:white;
	background:#333;
}




.restaurant-landing {


}

.errand-landing {


}

	


.category-tile {
    position: relative;
    border: 0px;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 0 auto 15px;
}
.category-tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.1em;
    text-transform: uppercase;
	text-style:italic;
    background-color: #000;
    color: #fff;
    opacity: .7;
}



.description-text {
	font-size:1.2em;
	margin-bottom:10px;
}


.btn {
	border-radius:0px;
	font-weight:400;
	
	font-size:14px;
}

.white-shadow-text{
	text-shadow: 2px 2px 0px white;
	color:black;
}

.blue-shadow-text{
	text-shadow: 2px 2px 0px #75daff;
	color:black;
	font-weight:800;
}
.button-div {	
 text-align: center;	
	}
/* ----------------------------Modal stuffs ------------------------------------------------------------------- */

button.modal-button{
	background-color:transparent;
	border:0px;
	font-size:24px;
	font-weight:800;
	text-align:center;
	vertical-align:middle;
	
}
/*button.modal-button:hover, button.modal-button:focus, button.modal-button:active {
    background-color: #ff3b9d;
}*/

.button-div:hover, .button-div:focus {
	background-color: #ff3b9d;
}
	

form.modal-button{
	background-color:transparent;
	border:0px;
	font-size:24px;
	font-weight:800;
}

form>input{
	background-color:transparent;
	border:0px;
	text-shadow: 2px 2px 0px white;
	color:black;
}
	


.close {
	font-size:40px;
	opacity: .8;
}

iframe {
	border:0px;
	
}


.modal iframe {
	width:100%;
	height:100%;
	min-height: 700px;
}



.modal-body {
	padding:0px;
	
}
.modal-content {
	border-radius:0px;
	border:0px;
	
}

.modal-header {
	border-bottom:0px;
	padding:5px;
}
		
/*-----------------FOOTER---------------------------------------------------------------------*/



.panel-footer {
    border: 0;
}


footer {
    background-color: transparent;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow:hidden;
}


/*-----------------Header----------------------------------------------------------------------*/
#header-nav{
    background-color: white;
    border: 0px;
    
}

.navbar-default .navbar-brand {
    font-size: 1.75em;
	color: black;
   font-weight: 800;
	font-family: 'Source-Sans-Pro', sans-serif;
	    text-shadow: 2px 2px 0px #75daff;
}

.navbar {
	margin-bottom:5px;
}

#collapsable-nav {
    background-color:white;
	
	
    
}

/*----NAVBAR LIST ITEMS------------------------------*/


#nav-list{
    text-align:center;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight:bold;
    font-style: italic;
    color: white;

}
.navbar-default .navbar-nav>li>a {
    color: black;
}

#nav-list li:hover, #nav-list li:focus, #nav-list li:active {
    background-color: #75daff;
	

}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: transparent;
}


	 
	   

/*----NAVBAR TOGGLE BUTTON------------------------------*/

button.navbar-toggle {
    background-color:white;
    border:0px;
    
}
    
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color:white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color:red;
}


	
div>a:hover, div>a:focus, div>a:active {
	   color:black;
	text-decoration:none;
}

   
/*Good to see you coding using responsive design!*/
/* Consider splitting up this file into one stylesheet per screen size.*/
/*----------------------------LARGE SCREEN ONLY---------------------------------*/ 

@media screen and (min-width: 767px){
	
	
	

	
	.landing-block-title {
		color:black;
		position:absolute;
		top:40%;
	}
	
	/*	.landing-block1 {
	position:relative;
	min-height:50%;
	margin-bottom: 5px;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
	background-image: url('/hushpuppystatic/images/circlelogogray.png');
}
	
.landing-block2 {
	position:relative;
	min-height:50%;
	margin-bottom: 5px;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
	background-image: url('/hushpuppystatic/images/circlelogogray.png');
}
	*/
	
	/*
	
	.landing-block1:hover, .landing-block1:focus, .landing-block1:active {

		background-attachment: fixed;
    background-position: center;
	background-image: url('/hushpuppystatic/images/circlelogotransparent.png');
	
}

.landing-block2:hover, .landing-block2:focus, .landing-block2:active {
	
	background-attachment: fixed;
    background-position: center;
	background-image: url('/hushpuppystatic/images/circlelogotransparent.png');
	
}
	
	*/
	
	#landingRestaurantFrame{
	position:relative;
	min-height:40vh;
	margin-bottom: 5px;
	background-repeat: no-repeat;
	background-attachment: fixed;
        background-position: center; 
	background-image: url('/hushpuppystatic/images/circlelogogray.png');
}
		#landingRestaurantToggle{
	position:relative;
	min-height:40vh;
	margin-bottom: 5px;
	background-repeat: no-repeat;
	background-attachment: fixed;
        background-position: center; 
	background-image: url('/hushpuppystatic/images/circlelogotransparent.png');
	display:none;
}
		#landingErrandFrame{
	position:relative;
	min-height:40vh;
	margin-bottom: 5px;
	background-repeat: no-repeat;
	background-attachment: fixed;
        background-position: center; 
	background-image: url('/hushpuppystatic/images/circlelogogray.png');
}
	
		#landingErrandToggle{
	position:relative;
	min-height:40vh;
	margin-bottom: 5px;
	background-repeat: no-repeat;
	background-attachment: fixed;
        background-position: center; 
	background-image: url('/hushpuppystatic/images/circlelogotransparent.png');
	display:none;
}

	
	
	
	
	#cyclist {

    top: 95%;
    left:95%;
    width:120px;
    height:120px;
    border-radius:50%;
    margin-top: -60px; /*set to a negative number 1/2 of your height*/
    margin-left: -60px; /*set to a negative number 1/2 of your width*/
   background-image: url('/courier-app/pictures/hushpuppydude.png');
    background-color: white;
    position:fixed;

}
  
 #collapsable-nav {
  background-color:white;
  
        }
   
   /*  li {
        color:black;
	     font-style: italic;
        
    }*/
	
 .navbar-nav ul li a:hover, .navbar-nav ul li a:focus, .navbar-nav ul li a:active {
	   color:white;
	 
	   
	}
	
#nav-list li:hover:nth-child(1), #nav-list li:focus:nth-child(1), #nav-list li:active:nth-child(1) {
        background-color:#75daff;
        color: white;
	   
    
}
   #nav-list li:hover:nth-child(2), #nav-list li:focus:nth-child(2), #nav-list li:active:nth-child(2) {
        background-color:fuchsia;
        color: white;
	   opacity:0.75;
    
}
        #nav-list li:hover:nth-child(3), #nav-list li:focus:nth-child(3), #nav-list li:active:nth-child(3) {
        background-color:red;
        color: white;
		opacity:0.75;
    
}

.panel-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

    

}


/*-----------------------SMALL SCREEN SIZES------------------------*/
@media screen and (max-width: 767px){
	
	
		#main-content {
	
	height:60vh;
}
	
	#landingRestaurantToggle{
		display:none;
	}
	
	#landingErrandToggle{
		display:none;
	}
	
	.landing-block-title {
		color:black;
		position:absolute;
		top:10%;
	}
	
	.landing-title-text {
	background-color:lightgray;
}
	
	.landing-title-text:hover, .landing-title-text:focus, .landing-title-text:active {
		background:#333;
	}
	
	
	.landing-block-title:hover, .landing-block-title:focus, .landing-block-title:active {
		color:white;
	}
	
	.landing-block1 {
	position:relative;
	min-height:50%;
	margin-bottom: 5px;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
	background-image:none;
		max-width:90%;
}
	.landing-block2 {
	position:relative;
	min-height:50%;
	margin-bottom: 5px;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
	background-image:none;
		max-width:90%;
}	
	
		.landing-block1:hover, .landing-block1:focus, .landing-block1:active {

	color:white;
	background:none;
	
}

.landing-block2:hover, .landing-block2:focus, .landing-block2:active {

	color:white;
	background:none;
	
	
#cyclist {
	display:none;
	}
		






}



	
	
